<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.welfarehomesmanagementsystem">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WelfareHomesManagementSystem">
        <activity android:name=".Activity.ApprovalFinish"></activity>
        <activity android:name=".Activity.ApprovalWait" />
        <activity android:name=".Activity.HomeFunction.FirstAidResult" />
        <activity android:name=".Activity.HomeFunction.FirstaidActivity" />
        <activity android:name=".Activity.HomeFunction.ProcurementActivity" />
        <activity android:name=".Activity.Edit.EditPhone" />
        <activity android:name=".Activity.Edit.EditAddress" />
        <activity android:name=".Activity.Edit.EditName" />
        <activity android:name=".Activity.HomeFunction.HospitalListActivity" />
        <activity android:name=".Activity.HomeFunction.ResidentsRegisterActivity" />
        <activity android:name=".Activity.UpdateProfileActivity" />
        <activity android:name=".Activity.SettingPage.AppVersionActivity" />
        <activity android:name=".Activity.HomeFunction.HealthCheckActivity" />
        <activity android:name=".Activity.HomeFunction.HealthResultActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.HomeFunction.ApprovalStatusActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.PasswordModifier" />
        <activity android:name=".Activity.SettingPage.PolicyActivity" />
        <activity android:name=".Activity.SettingPage.AboutUsActivity" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity
            android:name=".Activity.Navigation.AccountActivity"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Activity.Navigation.FunctionsActivity"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Activity.Navigation.HomeActivity"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Activity.Navigation.SettingActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".Activity.SignUpActivity" />
        <activity android:name=".Activity.HomeFunction.CovidTips" />
    </application>

</manifest>